.testimonies {
    .text-center {
        h1 {
            color: var(--primary);
        }

        p {
            color: var(--primary);
        }
    }

}

@media screen and (max-width: 1264px) {
    .testimonies {
        .caraosel {
            .flex {
                img {
                    width: 140px;
                }
            }
        }
    }

}