.hero-4-bali {
    background-image: url('../../../../assets/bgBasicBali.jpg');

    .px-7 .card-wrapper {
        background-color: #523e27;

        .cardlist {
            .card-item .desc {
                background-color: #f1ebd1;
            }
        }
    }
}