.layout {
    .hero-1 {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 70vw;
        position: sticky;
        bottom: 0;
        top: 0;

        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
    }

    .hero-2 {
        width: 100%;
    }
}

@media screen and (max-width: 1222px) {
    .layout {
        .hero-1 {
            min-width: 60vw;
        }
    }

}