@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #C3937C;
    --secondary: #787878;
    --black: #000000;
    --white: #FFFFFF;
    --inter: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --courier: "Courier Prime", monospace;
    --wallBgUpdate: #212121
}

html {
    scroll-behavior: smooth !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--inter);
}

body::-webkit-scrollbar {
    display: none !important;
}

body {
    overflow-x: hidden !important;
}